.tab-group .tab-header {
	display: inline-block;
	padding: 15px 30px 5px 30px;
	position: relative;
	height: 30px;
	text-align: center;
	font-size: 18px;
	
	cursor: pointer;
}

.tab-group .tab-header[data-hidden='true'] {
	display:none;
}

.tab-group .tab-body.unactive{
	display: none;
}

.tab-group > p,
.tab-group > div {
	width:100%;
	margin: 0px;
}

.tab-group > p {
	border-bottom: 1px solid #000;
}

.tab-group .tab-header.active{
	background: #fff;
	top: 1px;
	border: 1px solid #000;
	border-bottom: 0px;
}

.tab-group .tab-header.unactive{
	background: #f2f2f2;
	top: 0px;
}

.tab-header.tiny {
	height: auto;
	padding: 2px 5px;
	font-size: 14px;
	border-left: 1px solid #999;
	border-top: 1px solid #999;
}

.tab-header.tiny:last-child {
	border-right: 1px solid #999;
}